<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antnest.msger.main.persistence.dao.TopicUserMapper">
  <resultMap id="BaseResultMap" type="com.antnest.msger.main.persistence.entity.TopicUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topic_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.antnest.msger.main.persistence.entity.TopicUser">
    insert into topic_user (id, topic_id, user_id
      )
    values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.antnest.msger.main.persistence.entity.TopicUser">
    insert into topic_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.antnest.msger.main.persistence.entity.TopicUser">
    update topic_user
    <set>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.antnest.msger.main.persistence.entity.TopicUser">
    update topic_user
    set topic_id = #{topicId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--  自定义 -->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into topic_user (topic_id,user_id)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.topicId,jdbcType=VARCHAR},
      #{item.userId,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <delete id="deleteByTopicId" parameterType="java.lang.String">
    delete from topic_user
    where topic_id = #{topicId,jdbcType=INTEGER}
  </delete>

  <delete id="deleteTopicUserBatch" parameterType="java.util.List">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
      DELETE FROM  topic_user
      <where>
        topic_id=#{item.topicId,jdbcType=VARCHAR}
        and user_id = #{item.userId,jdbcType=VARCHAR}
      </where>
    </foreach>
  </delete>

  <select id="loadAllEffective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from topic_user
     where topic_id in (select topic_id from topic where time_type = 0 or expire_time > now())
  </select>
</mapper>