<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.msger.main.persistence.dao.TopicUserMapper">
  <resultMap id="BaseResultMap" type="com.ant.msger.main.persistence.entity.TopicUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="topic_id" jdbcType="VARCHAR" property="topicId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, topic_id, user_id, expire_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="loadAllEffective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic_user
    where expire_time > now()
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ant.msger.main.persistence.entity.TopicUser">
    insert into topic_user (id, topic_id, user_id, 
      expire_time)
    values (#{id,jdbcType=INTEGER}, #{topicId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ant.msger.main.persistence.entity.TopicUser">
    insert into topic_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="topicId != null">
        topic_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="topicId != null">
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ant.msger.main.persistence.entity.TopicUser">
    update topic_user
    <set>
      <if test="topicId != null">
        topic_id = #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ant.msger.main.persistence.entity.TopicUser">
    update topic_user
    set topic_id = #{topicId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into topic_user (topic_id,user_id,expire_time)
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.topicId,jdbcType=VARCHAR},
      #{item.userId,jdbcType=VARCHAR},
      #{item.expireTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <update id="updateBatch" parameterType="java.util.List">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
      UPDATE topic_user
      <set>
        expire_time=#{item.expireTime,jdbcType=TIMESTAMP}
      </set>
      <where>
        user_id = #{item.userId,jdbcType=VARCHAR} and topic_id=#{item.topicId,jdbcType=VARCHAR}
      </where>
    </foreach>
  </update>

  <delete id="deleteBatch" parameterType="java.util.List">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
      DELETE FROM  topic_user
      <where>
        topic_id=#{item.topicId,jdbcType=VARCHAR}
        <if test="item.userId != null">
          and user_id = #{item.userId,jdbcType=VARCHAR}
        </if>
      </where>
    </foreach>
  </delete>
</mapper>